<% layout('../layouts/app') -%>
<link rel="stylesheet" href="stisla/assets/css/customs/farm.css">
<style>
      .swap-1{display:none;}
      .swap-3{display:none;}
    /*
  .swap1-1{display:none;}
  .swap-2{display:none;}
  .swap-0{display:none;}
 
  .swapb-1{background: rgb(230, 191, 19);}
  */
</style>
 
  <div class="row listing" style='max-width: 1000px ; margin:20px auto;'>
  
<% for( var a=0; a <  (data.setting.pid.length) ;  a++ ){  -%>
<%  if( data.setting.pid[a].type  != "farm") continue; %>
<%  if( data.setting.pid[a].swap  == "2") continue; %>

  
    <div class="col-12  col-md-4 col-lg-4 diradius list-project" id='pid-boxp-<%=  a  %>'>
      <div class="pricing pricing-highlight  ">
        <div class="pricing-title ">
          LP Farming
        </div>
        <div class="card ">
          <div class="card-body">
          <div style=" min-height: 150px">
          <h5 class="card-title text-center"><img src="stisla/assets/img/logo/<%=  data.setting.pid[a].token1  %>.png" width="40px">
             <span class='sym-<%=  data.setting.pid[a].token1  %>'>BEP20</span> - <span class='sym-<%=  data.setting.pid[a].token2  %>'>BEP20</span>
             <img src="stisla/assets/img/logo/<%=  data.setting.pid[a].token2 %>.png"  width="40px"> </h5>

             <div  class='text-center' style="padding: 5px 10px; display:none" id='pid-boxh-<%=  a  %>'>
              This Project PAUSED<br>
              To Continue receive Reward need minimum 10K AloctPoint <br>
              Open <a href ="vote">Voting Page</a> to Vote Up
            </div>

            <div   style="padding: 5px 10px;  " class='text-center swap-<%=  data.setting.pid[a].swap  %>'>
              This OLD Pancakeswap LP<br>
              Pancake swap move to new Contract , please remove all LP and move to new pancakeswap LP <br>
            </div>
          <div id='pid-boxs-<%=  a  %>' class='swap1-<%=  data.setting.pid[a].swap  %>'>
          <h6 class="row" style="margin-top:20px">
          <div class="col-5 text-left " style="padding: 0px 10px">APR
          </div>
          <div class="col-7  text-right text-right text-success list-apr apr-pid-<%=  a  %> " style=" padding: 0px 10px" >
          0%
          </div>
        </h6>
          
          
      
          <div class="row font-weight-bold">
          <div class="col-5 text-left  " style="padding: 0px 10px">Deposit
          </div>
          <div class="col-7 text-right text-success  name-<%=  data.setting.pid[a].contract  %>" style=" padding: 0px 10px">
          TOKEN </div>
          </div>
          <div class="row font-weight-bold">
          <div class="col-5 text-left  " style="padding: 0px 10px">Reward
          </div>
          <div class="col-7 text-right text-success " style=" padding: 0px 10px">
          KIND
          </div>
          </div>
          <div class="row font-weight-bold" style="display:none">
            <div class="col-5 text-left  " style="padding: 0px 10px">AllocPoint
            </div>
            <div class="col-7 text-right text-success alloc-pid-<%=  a  %> " style=" padding: 0px 10px">
            0
            </div>
            </div>
            <div class="row font-weight-bold" style='display:none'>
              <div class="col-5 text-left  " style="padding: 0px 10px">Daily reward
              </div>
              <div class="col-7 text-right text-success  " style=" padding: 0px 10px">
              $<span class='block-reward-pid-<%=  a  %>'>0</span>
              </div>
              </div>

              <div class="row font-weight-bold" >
                <div class="col-5 text-left  " style="padding: 0px 10px">Daily reward
                </div>
                <div class="col-7 text-right text-success  " style=" padding: 0px 10px">
                <span class='block-rewardp-pid-<%=  a  %>'>0</span> 
                </div>
                </div>
 
          
          </div>
         </div>
          </div>
          </div>
 
        <div class="d-flex mt-2" > 
          <div class="col-6 text-center   text-warning "   >
            Reward
          </div>
          <div class="col-6 text-center   text-warning "   >
            Your LP
          </div>
        </div>
        <div class="d-flex mt-2" > 
          <div class="col-6 text-center    "   >
            <h6><span class='pending-reward-pid-<%=  a  %>'>0</span></h6>
          </div>
          <div class="col-6 text-center    "   >
            <h6><span class='your-lp-pid-<%=  a  %>'>0</span></h6>
          </div>
        </div>


        <div  style='border-bottom:1px solid #ddd; display:none; margin:0px  ' class="row mt-2 pb-3 aproved-pid-<%=  a  %>"> 
          <div class="col-6 text-center    "   >
            <button class="btn btn-sm btn-success get-harvest-pid-<%=  a  %>">HARVEST</button>
          </div>
          <div class="col-6 text-center    "   >
           
            <button data-toggle="modal" data-target="#modal-wd-pid-<%=  a  %>" data-backdrop="false" href="#!" class="btn btn-icon btn-info btn-sm wd-liq-pid-<%=  a  %>"><i class="fas fa-minus"></i></button>
            <button data-toggle="modal" data-target="#modal-dp-pid-<%=  a  %>" data-backdrop="false" href="#!" class="btn btn-icon btn-info btn-sm dp-liq-pid-<%=  a  %> swap1-<%=  data.setting.pid[a].swap  %>"><i class="fas fa-plus"></i></button>
 
              
          </div>
         
        </div>

        <div  style='border-bottom:1px solid #ddd; margin:0px' class="row mt-2 pb-3 non-aproved-pid-<%=  a  %>"> 
         
          <div  style='display:none' class="col-12 text-center    logedin "   >
            <button class="btn btn-sm btn-success btn-block rounded-0 get-approve-pid-<%=  a  %> ">APPROVE CONTRACT</button>
          </div>
          <div class="col-12 text-center">
            <button class="btn btn-sm btn-primary connect-to-wallet rounded-0 btn-block">CONNECT WALLET</button>
          </div>

        </div>
          
 
       
        <br>
        <a onClick="$('.detail<%=  a  %>').toggle();$('.hide<%=  a  %>').toggle()" class="    mb-2 rounded-0 rounded-bottom" data-toggle="collapse" href="#collapseDetail-<%=  a  %>" role="button" aria-expanded="false" aria-controls="collapseExample">
          <span class='detail<%=  a  %>' >Details</span><span class='hide<%=  a  %>' style='display:none' >Hide</span>
        </a>
        <br>
        <br>
       
      <div class="collapse card-content pb-3 swap1-<%=  data.setting.pid[a].swap  %>" id="collapseDetail-<%=  a  %>">
    
        <div class="row font-weight-bold">
          <div class="col-5 text-left  " style="padding: 0px 10px">Buy  <span class='sym-<%=  data.setting.pid[a].token1  %>'>BEP20</span>
          </div>
          <div class="col-7 text-right text-success " style=" padding: 0px 10px">
            <strong><a target="_blank" href="<%= data.setting.swap[data.setting.pid[a].swap] %>#/swap?inputCurrency=<%=  data.setting.pid[a].token2  %>&outputCurrency=<%=  data.setting.pid[a].token1  %>"><%= data.setting.website[data.setting.pid[a].swap] %> <i class="bi bi-arrow-up-right-square"></i></a></strong>
          </div>
          </div>
        <div class="row font-weight-bold">
          <div class="col-5 text-left  " style="padding: 0px 10px">Get Liquidity
          </div>
          <div class="col-7 text-right text-success " style=" padding: 0px 10px">
            <strong><a target="_blank" href="<%= data.setting.swap[data.setting.pid[a].swap] %>#/add/<%=  data.setting.pid[a].token2  %>/<%=  data.setting.pid[a].token1  %>"><%= data.setting.website[data.setting.pid[a].swap] %> <i class="bi bi-arrow-up-right-square"></i></a></strong>
          </div>
          </div>
          <div class="row font-weight-bold">
            
            <div class="col-5 text-left  " style="padding: 0px 10px">TVL
            </div>
            <div class="col-7 text-right text-success " style=" padding: 0px 10px">
            $ <span class='total-liq-pid-<%=  a  %>'>0</span>
            </div>
            </div>
            <div class="row font-weight-bold">
              <div class="col-5 text-left  " style="padding: 0px 10px">Explorer
              </div>
              <div class="col-7 text-right text-success " style=" padding: 0px 10px">
                <strong><a target="_blank" href=https://bscscan.com/address/<%=  data.setting.pid[a].contract  %>>Bscscan <i class="bi bi-arrow-up-right-square"></i></a></strong>
              </div>
              </div>
   
      </div>
      </div>
      <div class="modal fade" id="modal-wd-pid-<%=  a  %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="border-radius: 5%;">
            <div class="modal-header">
              <h5 class="modal-title col-12" id="exampleModalCenterTitle">Withdraw LP  <span class='float-right your-lp-pid-<%=  a  %>'>0</span></h5>
              <span class='d-none r-your-lp-pid-<%=  a  %>'>0</span>
              
            </div>
            <div class="modal-body pb-0">
              <div class=" ">
               
                <div class="d-flex">
                  <input  type="text" class="form-control mr-2 col-10 text-center amount-withdraw-lp-pid-<%=  a  %> " placeholder="0" name="" id="">
                  <button class="btn btn-sm rounded-0 col-2  btn-success" style="width: 80px;border-radius:20%" onclick="$('.amount-withdraw-lp-pid-<%=  a  %>').val($('.r-your-lp-pid-<%=  a  %>').html())">MAX</button>
                
    
                  
                </div>
                <div class="d-flex pt-2" >
                  <input type="range" class="form-range col-12 roda-wd-<%=  a  %>" style='padding: 0px;'  id="">
                </div>
                
              </div>
            
            </div>
            <div class="modal-footer" style="justify-content: center;">
              <button type="button" style="width: 200px;" class="btn btn-warning" data-dismiss="modal">Close</button>
              <button type="button" style="width: 200px;" class="btn btn-primary approve-withdraw-lp-pid-<%=  a  %>">Confirm</button>
            </div>
            <div  class='text-center col-12'><a href="<%= data.setting.info[data.setting.pid[a].swap] %>token/<%=  data.setting.pid[a].contract  %>">get   LP <i
              class="bi bi-arrow-up-right-square"></i></a></p> 
          </div>
          </div>
        </div>
      </div>
      
      <div class="modal fade" id="modal-dp-pid-<%=  a  %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="border-radius: 5%;">
            <div class="modal-header">
              <h5 class="modal-title col-12" id="exampleModalCenterTitle">Deposit LP  <span class='float-right your-wallet-lp-pid-<%=  a  %>'>0</span> </h5>
              <span class='d-none  r-your-wallet-lp-pid-<%=  a  %>'>0</span>
            </div>
            <div class="modal-body pb-0">
              <div class=" ">
               
                <div class="d-flex">
                  <input  type="text" class="form-control mr-2 col-10 text-center amount-deposit-lp-pid-<%=  a  %>" placeholder="0" name="" id="">
                   <button class="btn btn-sm rounded-0 col-2  btn-success" style="width: 80px;border-radius:20%" onclick="$('.amount-deposit-lp-pid-<%=  a  %>').val($('.r-your-wallet-lp-pid-<%=  a  %>').html())">MAX</button>
                
    
                  
                </div>
                <div class="d-flex pt-2" >
                  <input type="range" class="form-range col-12 roda-dp-<%=  a  %>" style='padding: 0px;' id="">
                </div>
                
              </div>
              
            </div>
            <div class="modal-footer" style="justify-content: center;">
              <button type="button" style="width: 200px;" class="btn btn-warning" data-dismiss="modal" >Close</button>
              <button type="button" style="width: 200px;" class="btn btn-primary approve-deposit-lp-pid-<%=  a  %>">Confirm</button>
              
            </div>
            <div  class='text-center col-12'><a href="https://pancakeswap.info/token/<%=  data.setting.pid[a].contract  %>">get   LP <i
              class="bi bi-arrow-up-right-square"></i></a></p></div>
              </div>
              </div>
              </div>
    </div>
   
   
  <% } %>

</div>